#Container {
  width: 100%;
  margin: 0 auto;
}
img.Slide {
  width: 100%;
  background-size: cover;
  height: 300px;
}
.Footer {
  background-color: #f5f5f5;
}
.footer-block {
  display: inline-block;
  border: 1px solid #e8e8e8;
  padding: 25px 164.1px 25px 30px;
  line-height: 0.5;
  font-size: 18px;
  color: #555555;
}
.footer-block p {
  font-weight: 600;
}
a {
  text-decoration: none;
}
.icon {
  font-size: 30px;
  margin-right: 10px;
  color: #cccccc;
}
